In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/goldman-sachs-and-jpmorgan-chase-share-prices/The Goldman Sachs.csv
/kaggle/input/goldman-sachs-and-jpmorgan-chase-share-prices/JPMorgan Chase.csv

# About Data set

## Goldman Sachs & JPMorgan Chase share prices (2000 - 2023)

Two of the largest investment banks in the USA

**Goldman Sachs**

Goldman Sachs is an American multinational investment bank and financial services company. Founded in 1869, Goldman Sachs is headquartered at 200 West Street in Lower Manhattan, with regional headquarters in London, Warsaw, Bangalore, Hong Kong, Tokyo, Dallas and Salt Lake City, and additional offices in other international financial centers. Goldman Sachs is the second largest investment bank in the world by revenue and is ranked 57th on the Fortune 500 list of the largest United States corporations by total revenue. It is considered a systemically important financial institution by the Financial Stability Board.

**JP Morgan Chase**

JPMorgan Chase & Co. is an American multinational financial services company headquartered in New York City and incorporated in Delaware. It is the largest bank in the United States and the world's largest bank by market capitalization (as of 2023). As the largest of the Big Four banks, the firm is considered systemically important by the Financial Stability Board. Its size and scale has led to enhanced regulatory oversight as well as the maintenance of an internal "Fortress Balance Sheet" of capital reserves. The firm is headquartered on 383 Madison Avenue in Midtown Manhattan and is set to move into the under-construction JPMorgan Chase Building in 2025.

In [2]:
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np

In [3]:
jpm_data = pd.read_csv('/kaggle/input/goldman-sachs-and-jpmorgan-chase-share-prices/JPMorgan Chase.csv')
gs_data = pd.read_csv('/kaggle/input/goldman-sachs-and-jpmorgan-chase-share-prices/The Goldman Sachs.csv')

print(jpm_data)
print('---'* 25)
print(gs_data)

            Date        Open        High         Low       Close   Adj Close  \
0     2000-01-03   49.833332   50.250000   48.083332   48.583332   24.406227
1     2000-01-04   47.083332   47.458332   46.125000   47.250000   23.870712
2     2000-01-05   46.833332   48.375000   46.000000   46.958332   23.723372
3     2000-01-06   46.750000   48.625000   46.500000   47.625000   24.060173
4     2000-01-07   48.416668   49.000000   47.333332   48.500000   24.502220
...          ...         ...         ...         ...         ...         ...
5858  2023-04-17  139.949997  140.059998  137.660004  139.830002  139.830002
5859  2023-04-18  140.270004  141.779999  139.029999  141.399994  141.399994
5860  2023-04-19  141.229996  141.500000  140.399994  141.220001  141.220001
5861  2023-04-20  139.910004  141.429993  139.839996  140.809998  140.809998
5862  2023-04-21  139.740005  141.110001  138.779999  140.539993  140.539993

        Volume
0     12019200
1     11723400
2      8714550
3      8369250
4      6571950
...        ...
5858  16050500
5859  13760100
5860   9158100
5861  10586200
5862  11841800

[5863 rows x 7 columns]
---------------------------------------------------------------------------
            Date        Open        High         Low       Close   Adj Close  \
0     2000-01-03   94.187500   94.375000   87.750000   88.312500   65.690536
1     2000-01-04   87.000000   87.500000   82.250000   82.750000   61.552921
2     2000-01-05   80.875000   81.875000   78.375000   78.875000   58.670509
3     2000-01-06   78.625000   84.500000   78.625000   82.250000   61.180992
4     2000-01-07   83.062500   83.187500   79.875000   82.562500   61.413429
...          ...         ...         ...         ...         ...         ...
5858  2023-04-17  336.000000  340.450012  333.679993  339.679993  339.679993
5859  2023-04-18  328.000000  336.549988  326.130005  333.910004  333.910004
5860  2023-04-19  332.980011  336.989990  331.670013  336.890015  336.890015
5861  2023-04-20  334.950012  339.309998  334.320007  338.709991  338.709991
5862  2023-04-21  339.000000  342.359985  336.000000  341.660004  341.660004

       Volume
0     1822600
1     1647700
2     1516600
3     1845100
4     1127400
...       ...
5858  3012100
5859  7549500
5860  2625400
5861  2217900
5862  2277100

[5863 rows x 7 columns]

# Studying Data

**here we would make sure to check things such as**

- missing values 
- non missing values 
- info 
 & more

In [4]:
jpm_data.info()
print("--" * 15)
gs_data.info()

#line indent 
line_indent = '--' * 25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5863 entries, 0 to 5862
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5863 non-null   object
 1   Open       5863 non-null   float64
 2   High       5863 non-null   float64
 3   Low        5863 non-null   float64
 4   Close      5863 non-null   float64
 5   Adj Close  5863 non-null   float64
 6   Volume     5863 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 320.8+ KB
------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5863 entries, 0 to 5862
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5863 non-null   object
 1   Open       5863 non-null   float64
 2   High       5863 non-null   float64
 3   Low        5863 non-null   float64
 4   Close      5863 non-null   float64
 5   Adj Close  5863 non-null   float64
 6   Volume     5863 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 320.8+ KB

In [5]:
#missing values
jpm_data_missing_values = jpm_data.isnull().sum()
gs_data_missing_values = gs_data.isnull().sum()

#duplicate rows
jpm_data_duplicate_rows = jpm_data.duplicated().sum()
gs_data_duplicated_rows = gs_data.duplicated().sum()

print("missing values")
print("jp morgan \n", jpm_data_missing_values, "\n", line_indent)
print("golden sachs \n", gs_data_missing_values,"\n", line_indent)

print(" \n duplicated rows")
print("jp morgan \n", jpm_data_missing_values, '\n', line_indent)
print("golden sachs", gs_data_missing_values, '\n', line_indent)

missing values
jp morgan
 Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
 --------------------------------------------------
golden sachs
 Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
 --------------------------------------------------

 duplicated rows
jp morgan
 Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
 --------------------------------------------------
golden sachs Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
 --------------------------------------------------

# Analize The Data
Use statistical methods like df.describe(), df.corr(), and df.mean() to analyze the data and gain insights into patterns, trends, or relationships among variables.